
.avatar-jugador {
    background-color: #f7f7f7 !important;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    margin: 0.5rem;
    position: relative;
}

.detalle-jugador {
    width: calc(100% - 6rem);
    padding: 0.5rem;
}

#chapita-capitan {
 color:var(--secondary-color);
}