
.avatar-jugador {
    background-color: #f7f7f7 !important;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    margin: 0.5rem;
    background: url("../assets/avatar.png")
    center/cover no-repeat;
    position: relative;
}

.detalle-jugador {
    width: calc(100% - 3rem);
    padding: 0.5rem;
}

#chapita-capitan {
 color:var(--secondary-color);
}