.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.horario-item {
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 5px;
}
.horario-disponible {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

h1{
	color:#1c2560;
}

h2{
	color:#FF0000;
} 

#loginbox h2 {
    color: #000;
    margin-bottom: 2rem;
    text-align: center;
}

#btn-login {
  margin-top: 1rem;
}

.navbar-brand{
    margin:0 2rem;
}

.navbar{
    background-color: #1c2560;
}

.nav-link.active {
    border-bottom: 2px solid white !important;
    font-weight: bold;
}