.profile-header {
    background: linear-gradient(rgba(242, 234, 216, 0.5), rgba(244, 235, 216, 0.5)),
    url("https://images.unsplash.com/photo-1505842465776-3acb39a1d5a5")
    center/cover no-repeat;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.profile-header.edicion {
   display: none;
}

.profile-avatar {
    background-color: #f7f7f7 !important;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    bottom: -65px;
    background: url("../assets/avatar.png")
    center/cover no-repeat;
}

.profile-card {
    margin-top: 90px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
}

.profile-card .card-header {
    background-color: #1c2560;
    color: white;
    text-align: center;
}

.profile-card .card-body p {
    font-size: 1rem;
    margin-bottom: 12px;
}

.btn-logout {
    background-color: #dc3545;
    border: none;
}

.btn-logout:hover {
    background-color: #b92c38;
}

/* margin under the last friend item in the friends list */
.friends-list .list-group-item:last-child {
    margin-bottom: 20px;
}