<div th:fragment="participante-item(participantes)">
  <li class="participante-item" th:each="participante : ${participantes}">
    <span class="profile-avatar"></span>
    <div class="d-flex flex-column">
      <strong class="w-100" th:text="${participante.nombreCompleto}"></strong>
      <span class="w-100" th:text="${participante.posicionFavorita}"></span>
      <span class="w-100" th:text="${participante.fechaUnion}"></span>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-light dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      ></button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Asignar Equipo</a></li>
      </ul>
    </div>
  </li>
</div>
