<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head> </head>
    <body
        th:fragment="participantes-partido (participantes, equipo, equipos, showDropdown)"
    >
        <h4 class="w-100 mt-2" th:text="${equipo.nombre}"></h4>
        <div
            class="w-100 p-2 text-muted text-center"
            th:if="${#lists.isEmpty(participantes)}"
        >
            No hay jugadores en este equipo aún
        </div>
        <ul
            th:if="${!#lists.isEmpty(participantes)}"
            id="listado-participantes"
            class="list-group"
        >
            <li
                class="participante-item"
                th:each="participante : ${participantes}"
            >
                <span class="profile-avatar">
                    <span
                        th:if="${participante.esCapitan}"
                        class="captain-shield material-symbols-outlined"
                        >chess_queen</span
                    >
                </span>
                <div class="d-flex flex-column">
                    <strong
                        class="w-100"
                        th:text="${participante.nombreCompleto}"
                    ></strong>
                    <span
                        class="w-100"
                        th:text="${participante.posicionFavorita}"
                    ></span>
                    <span
                        class="w-100"
                        th:text="${participante.fechaUnion}"
                    ></span>
                </div>
                <!-- Dropdown -->
                <div class="dropdown">
                    <button
                        class="btn btn-light dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    ></button>
                    <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton1"
                    >
                        <li>
                            <a
                                class="dropdown-item"
                                id="ver-perfil"
                                th:href="@{/perfil/ver/username/} + ${participante.username}"
                                >Ver Perfil</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                data-bs-toggle="modal"
                                th:if="${showDropdown}"
                                data-bs-target="#actualizarEquipo"
                                th:data-bs-nombre="${participante.nombreCompleto}"
                                th:data-bs-equipo="${participante.idEquipo}"
                                th:data-bs-id="${participante.id}"
                                >Asignar Equipo</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                data-bs-toggle="modal"
                                th:if="${showDropdown}"
                                data-bs-target="#promoverCapitanModal"
                                th:data-bs-nombre="${participante.nombreCompleto}"
                                th:data-bs-id="${participante.id}"
                                >Promover a capitán</a
                            >
                        </li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a
                                class="dropdown-item text-danger"
                                data-bs-toggle="modal"
                                th:if="${showDropdown}"
                                data-bs-target="#eliminarParticipante"
                                th:data-bs-nombre="${participante.nombreCompleto}"
                                th:data-bs-id="${participante.id}"
                                >Eliminar</a
                            >
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- Modal Asignar Equipo -->
        <div
            class="modal fade"
            id="actualizarEquipo"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="actualizarEquipoLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form id="form-asignar-equipo" method="post">
                        <input
                            type="hidden"
                            id="participante-id"
                            name="participanteId"
                        />
                        <div class="modal-header">
                            <h1
                                class="modal-title fs-5"
                                id="actualizarEquipoLabel"
                            >
                                Asignar Equipo
                            </h1>
                        </div>
                        <div class="modal-body">
                            <select
                                class="form-select"
                                id="equipo-select"
                                name="equipo"
                                aria-label="Selecciona un equipo"
                            >
                                <option
                                    th:each="equipo : ${equipos}"
                                    th:value="${equipo.id}"
                                    th:text="${equipo.nombre}"
                                ></option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Cerrar
                            </button>
                            <button
                                type="submit"
                                class="btn btn-primary"
                                id="btn-asignar"
                            >
                                Asignar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Eliminar Participante -->
        <div
            class="modal fade"
            id="eliminarParticipante"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="eliminarParticipanteLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form id="form-eliminar-participante" method="POST">
                        <input
                            type="hidden"
                            id="participante-a-eliminar-id"
                            name="participanteAEliminarId"
                        />
                        <div class="modal-header">
                            <h1
                                class="modal-title fs-5 text-danger"
                                id="eliminarParticipanteLabel"
                            >
                                Eliminar Participante
                            </h1>
                        </div>
                        <div class="modal-body">
                            <p id="mensaje-eliminar-participante">
                                &iquest;Est&aacute;s seguro que deseas eliminar
                                a este participante del partido?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Cancelar
                            </button>
                            <button
                                type="submit"
                                class="btn btn-danger"
                                id="btn-eliminar"
                            >
                                Aceptar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Promover Capitán -->
        <div
            class="modal fade"
            id="promoverCapitanModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="promoverCapitanLabel"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form id="form-promover-capitan" method="POST">
                        <input
                            type="hidden"
                            id="participante-a-promover-id"
                            name="participanteAPromoverId"
                        />
                        <div class="modal-header">
                            <h1
                                class="modal-title fs-5"
                                id="promoverCapitanLabel"
                            >
                                Promover a Capitán
                            </h1>
                        </div>
                        <div class="modal-body">
                            <p id="mensaje-promover-capitan">
                                ¿Estás seguro que deseas promover a este jugador
                                a capitán? Esto removerá al capitán actual si
                                existe.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Cancelar
                            </button>
                            <button
                                type="button"
                                class="btn btn-primary"
                                id="btn-promover-capitan"
                            >
                                Confirmar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
