<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <title>Partidazo</title>

        <link
            rel="stylesheet"
            th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
        />

        <link rel="stylesheet" th:href="@{/css/main.css}" />
        <link rel="stylesheet" th:href="@{/css/detalle-partido.css}" />
        <link rel="stylesheet" th:href="@{/css/participantes-partido.css}" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=calendar_month,groups"
        />
    </head>

    <body>
        <!-- Include the navbar fragment -->
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <main role="main" class="container" style="padding-top: 135px">
            <div th:unless="${partido}" class="no-match"></div>

            <div
                class="container d-flex flex-column justify-content-center width-100"
            >
                <div
                    class="container d-flex flex-column justify-content-center width-100 card"
                >
                    <div
                        th:if="${partido != null}"
                        id="loginbox"
                        class="mainbox width-100"
                    >
                        <div class="card-header">
                            <h1 class="mb-2" th:text="${partido.titulo}"></h1>
                            <div id="partido-header-data">
                                <h4
                                    id="fecha-partido"
                                    class="d-flex align-items-center gap-2"
                                >
                                    <span class="material-symbols-outlined"
                                        >calendar_month</span
                                    >
                                    <span th:text="${partido.fecha}"></span>
                                </h4>
                                <h4 class="d-flex align-items-center gap-2">
                                    <span class="material-symbols-outlined"
                                        >groups</span
                                    >
                                    <span
                                        th:text="${ (partido.cupoMaximo - partido.cuposDisponibles) + '/' + partido.cupoMaximo }"
                                    ></span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- Mensajes -->
                    <div
                        th:if="${error != null}"
                        class="alert alert-danger w-100 mt-2"
                        th:text="${error}"
                        id="alertError"
                    ></div>
                    <div
                        th:if="${success != null}"
                        id="alertSuccess"
                        class="alert alert-success w-100 mt-2"
                        th:text="${success}"
                    ></div>
                    <div
                        id="contendor-mapa-detalle"
                        class="d-flex flex-row flex-wrap align-items-center justify-content-center mt-2 card-body"
                    >
                        <iframe
                            id="map-iframe"
                            frameborder="0"
                            allowfullscreen
                            th:if="${partido != null}"
                            th:src="'https://www.google.com/maps/embed/v1/place?key=AIzaSyCB2Jsk_wlMEsQ5phtgegFGXuNTlHB7YNY&q=' + ${#strings.replace(partido.direccion, ' ', '+')}"
                        ></iframe>
                        <div id="contenedor-detalle">
                            <div
                                id="contenedor-detalle-info"
                                th:if="${partido != null}"
                            >
                                <div class="w-100">
                                    <strong>Acerca del partido:</strong>
                                    <span
                                        style="text-align: justify"
                                        th:text="${partido.descripcion}"
                                    ></span>
                                </div>

                                <div class="detalle-columna">
                                    <div class="w-100">
                                        <strong>Creado por:</strong>
                                        <span
                                            th:text="${partido.creador}"
                                        ></span>
                                    </div>
                                    <div>
                                        <strong>Se juega en:</strong>
                                        <span
                                            th:text="${partido.cancha}"
                                        ></span>
                                    </div>
                                </div>

                                <div class="detalle-columna">
                                    <div class="w-100">
                                        <strong>Zona:</strong>
                                        <span th:text="${partido.zona}"></span>
                                    </div>
                                    <div class="w-100">
                                        <strong>Nivel:</strong>
                                        <span th:text="${partido.nivel}"></span>
                                    </div>
                                </div>
                            </div>

                            <div
                                id="contenedor-detalle-acciones"
                                class="d-flex flex-column justify-content-center align-items-center gap-1"
                                th:if="${partido != null}"
                            >
                                <form
                                    th:action="@{/partidos/{id}(id=${partido.id})}"
                                    method="post"
                                    class="w-100"
                                >
                                    <button
                                        id="btn-unirse"
                                        class="btn btn-primary w-100"
                                        name="join"
                                        th:if="${!partido.yaParticipa}"
                                        th:disabled="${!partido.hayCupo || partido.yaParticipa}"
                                    >
                                        Unirse
                                    </button>
                                    <button
                                        type="submit"
                                        name="leave"
                                        class="btn btn-secondary w-100"
                                        th:if="${partido.yaParticipa}"
                                    >
                                        Abandonar partido
                                    </button>
                                </form>
                                <button
                                    id="btn-editar"
                                    class="btn btn-primary w-100"
                                    name="editar"
                                    th:if="${partido.esCreador}"
                                    th:onclick="'location.href=\'' + @{/partidos/{id}/editar-partido(id=${partido.id})} + '\''"
                                >
                                    Editar
                                </button>
                                <form
                                    th:action="@{/reserva/{id}(id=${partido.reservaId})}"
                                    th:if="${partido.esCreador}"
                                    class="w-100"
                                >
                                    <input
                                        type="hidden"
                                        name="usuarioId"
                                        th:value="${partido.creadorId}"
                                    />
                                    <input
                                        type="hidden"
                                        name="horarioId"
                                        th:value="${partido.horarioId}"
                                    />
                                    <button
                                        type="submit"
                                        class="btn btn-danger w-100"
                                    >
                                        Cancelar reserva
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Jugadores -->
                <div
                    id="contenedor-participantes"
                    class="card"
                    th:if="${partido != null}"
                >
                    <div class="card-header">
                        <h2>&iexcl;Conoce a los Jugadores!</h2>
                    </div>
                    <div class="card-body">
                        <div
                            th:if="${listadoParticipantesError != null}"
                            class="error w-100"
                            th:text="${listadoParticipantesError}"
                        ></div>
                        <div
                            th:if="${listaParticipantesSuccess != null}"
                            class="alert alert-success w-100"
                            th:text="${listaParticipantesSuccess}"
                        ></div>
                        <!-- Equipo 1 -->
                        <div
                            th:replace="~{fragments/participantes-partido :: participantes-partido (participantes=${partido.participantes}, equipoAMostrar='EQUIPO_1', showDropdown=${partido.esCreador})}"
                        ></div>
                        <!-- Equipo 2 -->
                        <div
                            th:replace="~{fragments/participantes-partido :: participantes-partido (participantes=${partido.participantes}, equipoAMostrar='EQUIPO_2', showDropdown=${partido.esCreador})}"
                        ></div>
                        <!-- Sin Equipo -->
                        <div
                            th:replace="~{fragments/participantes-partido :: participantes-partido (participantes=${partido.participantes}, equipoAMostrar='SIN_EQUIPO', showDropdown=${partido.esCreador})}"
                        ></div>
                    </div>
                </div>
            </div>
        </main>
        <script
            type="text/javascript"
            th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"
        ></script>
        <script type="module" th:src="@{/js/common.js}"></script>
        <script type="module" th:src="@{/js/participantes-partido.js}"></script>
    </body>
</html>
