<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Partidazo</title>

    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />

    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>

  <body>
    <!-- Include the navbar fragment -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <main role="main" class="container" style="padding-top: 135px">
      <div
        th:if="${error != null && partido == null}"
        class="error"
        th:text="${error}"
        id="alertError"
      ></div>
      <div
        th:if="${success != null}"
        id="alertSuccess"
        class="alert alert-success"
        th:text="${success}"
      ></div>
      <div th:unless="${partido}" class="no-match"></div>

      <div
        class="container d-flex flex-column justify-content-center width-100"
      >
        <div
          th:if="${partido != null}"
          id="loginbox"
          style="margin-top: 50px"
          class="mainbox width-100"
        >
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="d-flex justify-content-between align-items-start">
              <div
                class="d-flex align-items-center justify-content-between gap-3"
              >
                <h3
                  th:text="${partido.titulo}"
                  style="margin: 0 !important"
                ></h3>
                <div class="d-flex align-items-center g-3">
                  <span class="chip chip-zona" th:text="${partido.zona}"></span>
                  <span
                    class="chip chip-nivel"
                    th:text="${partido.nivel}"
                  ></span>
                </div>
              </div>
            </div>
            <h3 th:text="${partido.fecha}"></h3>
          </div>
          <hr class="colorgraph" />
        </div>
        <div
          class="d-flex flex-row flex-wrap align-items-center justify-content-center"
        >
          <img th:src="@{/assets/map.svg}" alt="map" class="w-75 p-1" />
          <div class="w-25 p-1">
            <div
              th:if="${partido != null}"
              style="max-height: 608px; height: 100vh"
              class="d-flex flex-column justify-content-between"
            >
              <div>
                <p>
                  <strong>Descripción:</strong>
                </p>
                <p th:text="${partido.descripcion}"></p>
                <p>
                  <strong>Cupo máximo:</strong>
                  <span th:text="${partido.cupoMaximo}"></span>
                </p>
                <p>
                  <strong>Cupos disponibles:</strong>
                  <span th:text="${partido.cuposDisponibles}"></span>
                </p>
                <p>
                  <strong>Cancha:</strong>
                  <span th:text="${partido.cancha}"></span>
                </p>
                <p>
                  <strong>Creador:</strong>
                  <span th:text="${partido.creador}"></span>
                </p>
              </div>
              <div
                class="d-flex flex-column justify-content-center align-items-center gap-1"
              >
                <form
                  th:action="@{/partidos/{id}(id=${partido.id})}"
                  method="post"
                  class="w-100"
                >
                  <button
                    id="btn-unirse"
                    class="btn btn-primary w-100"
                    name="join"
                    th:if="${!partido.yaParticipa}"
                    th:disabled="${!partido.hayCupo || partido.yaParticipa}"
                  >
                    Unirse
                  </button>
                  <button
                    type="submit"
                    name="leave"
                    class="btn btn-danger w-100"
                    th:if="${partido.yaParticipa}"
                  >
                    Abandonar partido
                  </button>
                </form>
                <form
                  th:action="@{/reserva/{id}(id=${partido.reservaId})}"
                  th:if="${partido.esCreador}"
                  class="w-100"
                >
                  <input
                    type="hidden"
                    name="usuarioId"
                    th:value="${partido.creadorId}"
                  />
                  <input
                    type="hidden"
                    name="horarioId"
                    th:value="${partido.horarioId}"
                  />
                  <button type="submit" class="btn btn-danger w-100">
                    Cancelar reserva
                  </button>
                </form>
              </div>
            </div>
            <div th:if="${partido == null}">
              <p th:text="${error}"></p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      type="text/javascript"
      th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"
    ></script>
    <script type="module" th:src="@{/js/common.js}"></script>
  </body>
</html>
