<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">UNLAM</a>
</nav>

<main role="main" class="container">

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}">
                <h3 class="form-signin-heading">Nuevo Usuario</h3>
                <hr class="colorgraph"><br>

                <label for="nombre" class="form-label mt-3">Nombre:</label>
                <input th:field="*{nombre}" required class="form-control" id="nombre">
                <label for="apellido" class="form-label mt-3">Apellido:</label>
                <input th:field="*{apellido}" required class="form-control" id="apellido">
                <label for="email" class="form-label mt-3">E-mail:</label>
                <input th:field="*{email}" id="email" class="form-control" required/>
                <label for="password" class="form-label mt-3">Contraseña:</label>
                <input th:field="*{password}" type="password" id="password" class="form-control" required/>
                <label for="posicion_favorita" class="form-label mt-3">Posicion Favorita</label>
                <select class="form-select" th:field="*{posicionFavorita}" id="posicion_favorita" required>
                    <option selected value="" disabled>Posición favorita</option>
                    <option value="Delantero">Delantero</option>
                    <option value="Mediocampista">Mediocampista</option>
                    <option value="Defensa">Defensa</option>
                    <option value="Arquero">Arquero</option>
                </select>
                <button id="btn-registrarme" class="btn btn-lg btn-primary btn-block mt-3" Type="Submit">Registrarme</button>
                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>
            </form>

        </div>
    </div>

</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
