<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Mi perfil</title>

    <!-- Bootstrap core css -->
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container">
        <a th:href="@{/home}">
          <img
            class="navbar-brand"
            th:src="@{/assets/logo.png}"
            alt="Logo"
            style="height: 80px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav ms-auto d-flex gap-3">
            <a class="nav-link text-white" th:href="@{/home}"
              >Partidos disponibles</a
            >
            <a class="nav-link text-white" th:href="@{/canchas-disponibles}"
              >Canchas disponibles</a
            >
            <a class="nav-link text-white active" th:href="@{/perfil}"
              >Mi perfil</a
            >
          </div>
        </div>
      </div>
    </nav>

    <main role="main" class="container" style="padding-top: 175px">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-0">Datos de usuario</h5>
            </div>
            <div class="card-body">
              <p>
                <strong>Nombre:</strong>
                <span th:text="${usuario.nombre}"></span>
              </p>
              <p>
                <strong>Apellido:</strong>
                <span th:text="${usuario.apellido}"></span>
              </p>
              <p>
                <strong>Email:</strong> <span th:text="${usuario.email}"></span>
              </p>
              <p>
                <strong>Posición favorita:</strong>
                <span th:text="${usuario.posicionFavorita}"></span>
              </p>
            </div>
            <div class="card-footer text-end">
              <a th:href="@{/login}" class="btn btn-danger">Cerrar sesión</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script
      type="text/javascript"
      th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
